a,
body,
div,
footer,
h1,
h2,
header,
html,
img,
li,
nav,
p,
span,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

li,
ul {
  list-style: none;
}

img,
picture,
svg,
video {
  display: block;
}

img,
svg,
video {
  width: 100%;
  height: auto;
}

img {
  max-width: 100%;
}

// *,
// *::before,
// *::after {
//   box-sizing: border-box;
// }

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  border: 0;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  appearance: none;
}

sup {
  vertical-align: super;
}

span,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
button, {
  font-variant-numeric: inherit;
}
